* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  list-style: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  overflow-x: hidden;
}
.container {
  width: 90%;
  margin: auto;
}
.header {
  background-color: #003366;
  padding: 10px;
}
.header .container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.header .container .titleInHeader {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
.header .container .titleInHeader img {
  height: 35px;
}
.header .container nav ul {
  width: 50%;
}
.header .container nav ul li {
  display: flex;
  gap: 5px;
}
.header .container nav ul li img {
  width: 25px;
  height: 20px;
}
.header .container nav ul .linkes {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.header .container .user {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header .container .userIcon {
  display: flex;
  gap: 10px;
}
.header .container .userIcon h6 {
  color: grey;
}
.header .container .user .logout .btn,
.sideBar .logout .btn {
  background-color: transparent;
  color: white;
}
.header .container .user .logout,
.sideBar .logout {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid white;
  background-color: transparent;
  padding: 5px 20px;
  color: white;
  border-radius: 8px;
  font-size: 14px;
  transition: 0.3s;
}
.header .container .user .logout img,
.sideBar .logout img {
  height: 20px;
  width: 20px;
  text-align: left;
}

.header .container .user .logout:hover,
.sideBar .logout:hover {
  cursor: pointer;
  background-color: white;
}
.header .container .user .logout:hover button,
.sideBar .logout:hover button {
  color: black;
}

.header .container .user .logout img.black,
.sideBar .logout img.black {
  display: none;
}
.header .container .user .logout:hover img.white,
.sideBar .logout img.white {
  display: none;
}

.header .container .user .logout:hover img.black,
.sideBar .logout:hover img.black {
  display: block;
}
.header .container .tomenu {
  display: none;
}
.header .container .linkesRes {
  display: none;
}
.header .container .titleInHeader h5 {
  color: #a3a3a3;
}

.sideBar {
  width: 50%;
  height: 100vh;
  position: absolute;
  right: 0;
  background-color: #002549;
  z-index: 100;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
  opacity: 0;
  border-radius: 10px;
  border-left: 2px solid white;
  transition: 0.3s;
}
.sideBar.active {
  opacity: 1;
}
.sideBar h5,
.sideBar h2 {
  color: white;
}
.sideBar ul .linkes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sideBar ul .linkes li {
  display: flex;
  gap: 15px;
  color: #5b8fff;
  font-size: 18px;
}
.sideBar ul .linkes li:hover {
  cursor: pointer;
}
.sideBar .titleInHeader h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.sideBar .titleInHeader h5 {
  font-size: 14px;
}

.WelcomeSec {
  background-color: #003366e1;
  position: relative;
}
.WelcomeSec > img {
  width: 100%;
  object-fit: cover;
  height: 500px;
  opacity: 0.1;
}
.WelcomeSec .text {
  width: 50%;
  margin: auto;
  position: absolute;
  top: 30%;
  left: 25%;
}
.WelcomeSec .text h2 {
  color: #fff;
  margin-bottom: 15px;
  font-size: 45px;
  font-weight: bold;
}
.WelcomeSec .text h5 {
  color: #e2f1ff;
  margin-bottom: 15px;
  font-size: 20px;
}
.WelcomeSec .text p {
  color: #accef1;
  margin-bottom: 15px;
  font-size: 18px;
}
.WelcomeSec .text .btns {
  display: flex;
  gap: 20px;
}
.WelcomeSec .text .btn {
  padding: 10px;
  width: 20%;
  text-align: center;
  font-size: 16px;
  background-color: #fff;
  border-radius: 8px;
  color: #003366;
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: bold;
  transition: 0.3s;
}
.WelcomeSec .text .btn img {
  width: 16px;
}
.WelcomeSec .text .btn.acc {
  width: 30%;
  justify-content: space-evenly;
}
.WelcomeSec .text .btn:hover {
  cursor: pointer;
  background-color: #65aef8;
}
.WelcomeUser {
  margin-top: 40px;
  background-color: #65aff842;
  width: 80%;
  margin-left: 20px;
  padding: 20px;
  border-radius: 7px;
  border-left: 4px solid #003366;
}
.WelcomeUser h3 {
  color: #003366;
  font-size: 30px;
  margin-bottom: 15px;
}
.WelcomeUser h4 {
  color: gray;
}

.AboutLib,
.OurFaculties,
.QuickAccess {
  margin: 40px 0;
}
.AboutLib .container h2,
.OurFaculties .container h2,
.QuickAccess .container h2,
.LibraryServices .container h2 {
  color: #16395d;
  margin-bottom: 20px;
  font-size: 30px;
}
.AboutLib .container .shapes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.AboutLib .container .shapes .shape1,
.AboutLib .container .shapes .shape2 {
  width: 49%;
  border: 1px solid #6c6c6c35;
  border-radius: 3px;
  padding: 15px;
  min-height: 200px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.AboutLib .container .shapes .shape1 div,
.AboutLib .container .shapes .shape2 div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.AboutLib .container .shapes .shape1 div span,
.AboutLib .container .shapes .shape2 div span {
  font-size: 18px;
  font-weight: bold;
}
.AboutLib .container .shapes .shape1 p,
.AboutLib .container .shapes .shape2 p {
  color: #6c6c6c;
}
.OurFaculties .container .Faculties {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.OurFaculties .container .Faculties .BA,
.OurFaculties .container .Faculties .IT {
  width: 49%;
  height: auto;
  border-radius: 9px;
  border: 2px solid #6c6c6c35;
  border-left: 4px solid #003366;
  padding: 20px;
}
.OurFaculties .container .Faculties .BA p,
.OurFaculties .container .Faculties .IT p {
  color: #6c6c6c;
  margin-top: 8px;
  margin-bottom: 15px;
}
.OurFaculties .container .Faculties .BA li,
.OurFaculties .container .Faculties .IT li {
  margin: 13px 0;
  color: #16395d;
}
.OurFaculties .container .Faculties .BA .btn,
.OurFaculties .container .Faculties .IT .btn {
  background-color: #003366;
  color: #fff;
  padding: 13px;
  text-align: center;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
  transition: 0.3s;
}
.OurFaculties .container .Faculties .BA .btn:hover,
.OurFaculties .container .Faculties .IT .btn:hover {
  cursor: pointer;
  background-color: #002549;
}
.QuickAccess .container .access {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.QuickAccess .container .access > div {
  width: 24%;
  border: 2px solid #6c6c6c35;
  border-radius: 8px;
  min-height: 300px;
  padding: 20px;
  transition: 0.3s;
}
.QuickAccess .container .access > div div.dot {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #16395d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.QuickAccess .container .access > div div.dot img {
  width: 20px;
  height: 20px;
}
.QuickAccess .container .access > div h3 {
  margin-top: 15px;
  margin-bottom: 25px;
}
.QuickAccess .container .access > div p {
  color: #6c6c6c;
}
.QuickAccess .container .access > div:hover {
  box-shadow: #6c6c6c 1px 1.5px 1.5px 1.5px;
}
.LibraryServices .container .services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}
.LibraryServices .container .services .service {
  width: 30%;
  height: 150px;
  border: 1px solid #6c6c6c;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.LibraryServices .container .services .service p {
  margin-top: 20px;
  color: #6c6c6c;
  font-size: 15px;
}
.LibraryServices .container .services .service h3 {
  margin-top: 5px;
  font-size: 20px;
}
.LibraryServices .container .services .service i {
  color: #003366;
  font-size: 24px;
}
.LibraryStatistics .container {
  background-color: #003366;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 50px;
  width: 95%;
}
.LibraryStatistics .container > h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 35px;
  color: #fff;
}
.LibraryStatistics .container .static {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.LibraryStatistics .container .static div > p {
  color: #65aef8;
  text-align: center;
  font-size: 25px;
}
.LibraryStatistics .container .static div > h2 {
  text-align: center;
  color: #fff;
  font-size: 35px;
}
footer {
  background-color: #003366;
  padding: 25px;
}
footer > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  padding-bottom: 40px;
  border-bottom: 2px solid #5b8fff;
}
footer > div > div {
  width: 30%;
}
footer .text h3 {
  color: #fff;
}
footer .text p {
  margin-top: 25px;
  color: #5b8fff;
}
footer .quickLinks > h3 {
  color: #fff;
  margin-bottom: 25px;
}
footer .quickLinks > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .quickLinks > ul li a {
  text-decoration: none;
  color: #5b8fff;
  transition: 0.3s;
}
footer .quickLinks > ul li a:hover {
  color: #dbdbdb;
}
footer .contact h3 {
  color: #fff;
  margin-bottom: 25px;
}
footer .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-bottom: 20px;
}
footer .contact > div {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  width: 100%;
  text-align: left;
}
footer .contact > div a {
  text-decoration: none;
}
footer .contact > div a p {
  color: #5b8fff;
  transition: 0.3s;
}
footer .contact > div a p:hover {
  color: #dddddd;
}
footer .contact > div p {
  color: #5b8fff;
}
footer hr {
  color: #fff;
}
footer > h5 {
  text-align: center;
  color: #65aef8;
  margin-bottom: 30px;
}
/* Start Responsive */
@media (max-width: 1270px) {
  .header .container .tomenu {
    display: block;
  }
  .header .container nav ul .linkes li,
  .header .container .user .logout {
    display: none;
  }
  .header .container .titleInHeader h2 {
    font-size: 100%;
  }
  .header .container .titleInHeader h5 {
    font-size: 60%;
  }
  .header .container .user {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 1060px) {
  .AboutLib .container .shapes {
    flex-direction: column;
    gap: 10px;
  }
  .AboutLib .container .shapes .shape1,
  .AboutLib .container .shapes .shape2 {
    width: 80%;
    box-shadow: #16395d 2px 3px 5px 1px;
  }
  .OurFaculties .container .Faculties {
    flex-direction: column;
    gap: 10px;
  }
  .OurFaculties .container .Faculties .BA,
  .OurFaculties .container .Faculties .IT {
    width: 80%;
    box-shadow: #16395d 2px 3px 5px 1px;
  }
  .QuickAccess .container .access {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  .QuickAccess .container .access > div {
    width: 80%;
    box-shadow: #16395d 2px 3px 5px 1px;
  }
}

@media (max-width: 970px) {
  .WelcomeSec .text {
    width: 80%;
    top: 15%;
    left: 10%;
  }
  .WelcomeSec .text h2 {
    font-size: 35px;
  }
  .WelcomeSec .text h5 {
    font-size: 18px;
  }
  .WelcomeSec .text p {
    font-size: 16px;
  }
  .WelcomeSec .text .btns {
    justify-content: space-between;
  }
  .WelcomeSec .text .btn,
  .WelcomeSec .text .btn.acc {
    width: 48%;
    height: 50px;
  }
}
@media (max-width: 860px) {
  .LibraryStatistics .container .static{
    flex-wrap: wrap;
    gap: 50px;
  }
  .LibraryStatistics .container .static > div{
    width: 45%;
  }
  footer >div {
    flex-wrap: wrap;
    gap: 20px;
  }
  footer >div >div{
    width: 55%;
  }
}
@media (max-width: 800px) {
  .LibraryServices .container .services {
    flex-direction: column;
    gap: 10px;
  }
  .LibraryServices .container .services .service {
    width: 80%;
  }
}
/* End Responsive */
